/* style */
/* - Mobile: 375px
    - Desktop: 1440px

    - Very Dark Grayish Blue: hsl(217, 19%, 35%)
    - Desaturated Dark Blue: hsl(214, 17%, 51%)
    - Grayish Blue: hsl(212, 23%, 69%)
    - Light Grayish Blue: hsl(210, 46%, 95%)

    - Font size: 13px

    - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
    - Weights: 500, 700 */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

main {
    width: 90%;
    background-color: white;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px hsl(214, 17%, 51%, 0.1);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.textPart {
    width: 80%;
    margin-top: 30px;
}

.drawersDiv {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 1em 1em 0 0;
}

#drawers {
    width: 100%;
    max-width:100%;
}

.textDiv {
    font-size: 0.6em;
    margin-bottom: 10px;
    line-height: 3em;
}

#cardTxt {
    font-size: 1.64em;
    font-weight: 500;
    line-height: 1.5em;
    color: hsl(214, 17%, 51%)
}

h1 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

#userInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: none;
}

#avatar {
    height: 50px;
    border-radius: 50%;
}

.nameAndDate {
    margin-left: 1.2em;
}

#userName {
    font-weight: bold;
    margin-bottom: 0.1em;
    color: hsl(217, 19%, 35%);
}
#date {
    margin-top: 0.1em;
    color: hsl(212, 23%, 69%);
}

.shareDiv {
    height: auto;
    margin-left: auto;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    padding: 0.6em;
    text-align: center;
    width: 1.2em;
}

.shareDiv div {
    color: hsl(214, 17%, 51%)
}

.shareDiv:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    main {
        width: 40%;
    }
}

@media screen and (min-width: 1400px) {
    main {
        width: 900px;
        max-width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .textPart {
        width: 50%;
        margin-right: 5%;
        margin-left: auto;
    }

    .drawersDiv {
        width: 550px;
        overflow: hidden;
        height: auto;
        border-radius: 1em 0 0 1em;
        margin-right: 5%;
        object-fit: cover;
    }

    #drawers {
        display: block;
        object-fit: cover;
        border-radius: 1em 0 0 1em;
    }

    
}


/* active state part */
.activeStateMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 1em;
    background-color: hsl(217, 19%, 35%);
    height: 80px;
}

.activeStateMobile p {
    color: hsl(212, 23%, 69%);
    margin-left: 10%;
}

.favIconsDiv {
    margin-right: 15%;
    margin-left: 7%;
}

.favIcons {
    color: white;
    height: auto;
    margin-right: 20px;
}

#activeShare {
    color: white;
    height: auto;
    margin-right: 10%;
    background-color: hsl(214, 17%, 51%);
    border-radius: 50%;
    padding: 0.5em;
    text-align: center;
    width: 1.2em;
}
