@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

main {
    width: 25rem;
    border-radius: 1em;
}

#drawers {
    display: block;
    height: 230px;
    object-fit: cover;
    object-position: center;
    border-radius: 1em 1em 0 0;
}

#activeShare {
    border-radius: 0 0 1em 1em;
    height: 75px;
}

.cardText {
    font-size: 0.95em; 
    color: hsl(214, 17%, 51%);
}

#nameTxt {
    color: hsl(214, 71%, 46%);
}

@media screen and (min-width:1200px) {
    main {
        height: 18.9rem;
        border-radius: 1em;
    }

    #drawers {
        height: 300px;
        object-position: left;
        border-radius: 1em 0 0 1em;
    }

    .cardText {
        font-size: 0.82em;
    }
}

#activeShareDesktop {
    background: var(--Very-Dark-Grayish-Blue);
    padding: .75rem;
    position: absolute;
    left: 78%;
    width: 15rem;
    height: 60px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 5.4em;
    display: none;
}

#activeShareDesktop:after {
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 2rem var(--Very-Dark-Grayish-Blue);
    border-left: solid 2rem transparent;
    border-right: solid 2rem transparent;
    z-index: 3; 
}


